---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const { type } = Astro.params;

export async function getStaticPaths() {
  const posts = await getCollection("texts");
  const types = [...new Set(posts.map((post) => post.data.type))]; // Obtener tipos únicos
  return types.map((type) => ({
    params: { type },
  }));
}

let typeTitle = "";
if (type === "lagrimas") {
  typeTitle = "Lágrimas de Siddartha";
} else if (type === "colores") {
  typeTitle = "En las luces de colores";
} else if (type === "still") {
  typeTitle = "Still Prefer Sentir";
} else {
  typeTitle = type; // Fallback al slug si no coincide con ningún tipo conocido
}

const posts = (await getCollection("texts"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => post.data.type === type);
---

<Layout title={typeTitle}>
  <main class="flex flex-col gap-8 mt-32 mx-6">
    <h1 class="text-3xl font-semibold text-left">
      {typeTitle}
    </h1>
    <ul class="flex flex-col w-full gap-6 text-center justify-center">
      {
        posts.map((post: any) => (
          <li class="w-full text-center">
            <a href={`/${type}/${post.slug}/`} class="flex gap-4 items-start">
              <img
                class="w-40 rounded-lg"
                src={post.data.heroImage}
                alt={post.data.title}
              />
              <div class="flex flex-col items-start text-left w-full">
                <p class="date text-lg font-normal text-white">
                  <FormattedDate date={post.data.pubDate} />
                </p>
                <h2 class="title text-2xl w-full font-semibold text-white border-b-2 pb-2 mb-2 border-white font-bebas">
                  {post.data.title}
                </h2>
                <!-- <div class="flex items-center">
                  {Array.isArray(post.data.icons) && post.data.icons.length > 0
                    ? post.data.icons.map((iconClass: any, idx: any) => (
                        <i
                          class={`${iconClass} text-4xl text-white/25`}
                          aria-hidden="true"
                        />
                      ))
                    : null}
                </div> -->
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
