---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("texts");

  const years = Array.from(
    new Set(posts.map((p: any) => new Date(p.data.pubDate).getFullYear()))
  );

  return years.map((year) => ({
    params: { year: String(year) },
  }));
}

const { year } = Astro.params;
const yearNum = Number(year);

const mapTypeTitle = (type = "") => {
  if (type === "lagrimas") return "Lágrimas de Siddartha";
  if (type === "colores") return "En las luces de colores";
  if (type === "still") return "Still Prefer Sentir";
  if (type === "placebo") return "Placebo Onírico";
  if (type === "pintas") return "Pintas de Gaudín";
  return type;
};

const posts = (await getCollection("texts"))
  .filter((p: any) => new Date(p.data.pubDate).getFullYear() === yearNum)
  .sort((a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout title={`${year}`}>
  <main class="flex flex-col gap-4 mt-32 px-6 w-full sm:max-w-[1100px] sm:mx-auto">
    <h1 class="text-4xl font-staatliches text-white">{year}</h1>

    <ul class="flex flex-col sm:grid sm:grid-cols-5 w-full gap-4">
      {posts.length ? (
        posts.map((post: any) => {
          const postTypeTitle = mapTypeTitle(post.data.type);

          return (
            <li class="w-full">
              <a href={`/${post.data.type}/${post.slug}/`} class="block group">
                <div class="relative overflow-hidden rounded-xl aspect-[2/3] border border-white/10">
                  <img
                    src={post.data.heroSmImage}
                    alt={post.data.title}
                    class="absolute inset-0 h-full w-full object-cover"
                    loading="lazy"
                  />

                  <div class="flex flex-col justify-between h-full w-full">
                    <p class="bg-black/25 backdrop-blur-sm border border-white/20 text-right self-end text-white text-sm sm:text-sm p-1 px-2 rounded-b-lg rounded-r-none font-bold">
                      {postTypeTitle}
                    </p>

                    <h2 class="bg-black/20 backdrop-blur-sm truncate border-t border-white/20 text-white font-bebas text-start p-2 pb-2 text-2xl sm:text-lg rounded-b-lg">
                      {post.data.title}
                    </h2>
                  </div>
                </div>
              </a>
            </li>
          );
        })
      ) : (
        <li class="text-white/80">No hay textos en este año.</li>
      )}
    </ul>
    <Footer theme="home" />

  </main>
</Layout>
