---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, type, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body class="gap-8 dark:bg-dark-bg bg-light-bg">
		<Header />
		<main class="flex items-center justify-center dark:text-dark-text text-light-text">
			<article class="m-4">
				<div class="hero-image flex justify-center">
					{heroImage && <img class="w-[160px] h-[160px] rounded-full" src={heroImage} alt="" />}
				</div>
				<div class="text-justify">
					<div class="title">
						<div class="date dark:text-dark-text text-light-text">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="text-3xl">{title}</h1>
						<!-- <hr /> -->
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
